
div(ng-app='terranullius')
	h1 Welcome to #{title}
	div(google='', google-element-id='signinButton', ng-show='user.initDone')
		.login(ng-hide="user.loggedIn")
			span#signinButton
		.go(ng-show='user.loggedIn')
			a(href='/play') go play

//- script(src='/javascripts/primer.js')
script(src='/javascripts/jquery-1.7.2.min.js')
script(src='/javascripts/jquery-ui-1.8.20.custom.min.js')
script(src='/javascripts/angular.min.js')
script(src='https://apis.google.com/js/client:plusone.js', parsetags='explicit')
script(src='/javascripts/terranullius.js')
