#main-container
	.panel#mainpanel
		.button.buildings
			.icon
		.button.storage
			.icon
		.button.statistics
			.icon
		.button.system
			.icon
	.window.buildings
	.window.storage
	.window.statistics
	.window.system
script(src='/javascripts/ThreeWebGL.js')
script(src='/javascripts/ThreeExtras.js')
script(src='/javascripts/terranullius.js')
