#main-container
	.panel#mainpanel
		.button.buildings
			.icon
		.button.storage
			.icon
		.button.statistics
			.icon
		.button.system
			.icon
	.window.buildings(title="Buildings")
		ul
			li
				a.small-buildings(href="#small-buildings")
			li
				a.medium-buildings(href="#medium-buildings")
			li
				a.large-buildings(href="#large-buildings")
		.tab#small-buildings
			.button.forester
				.icon
			.button.woodcutter
				.icon
			.button.stonemason
				.icon
			.button.fisher
				.icon
			.button.well
				.icon
		.tab#medium-buildings
			.button.sawmill
				.icon
		.tab#large-buildings
			.button.farm
				.icon
	.window.storage(title="Storage")
		.button.wood
			.icon
		.button.plank
			.icon
		.button.stones
			.icon
		.button.wheat
			.icon
		.button.flour
			.icon
		.button.water
			.icon
		.button.bread
			.icon
		.button.pig
			.icon
		.button.ham
			.icon
		.button.charcoal
			.icon
		.button.iron_ore
			.icon
		.button.iron
			.icon
		.button.gold_ore
			.icon
		.button.gold_bar
			.icon
		.button.coin
			.icon
		.button.sword
			.icon
		.button.shield
			.icon




	.window.statistics(title="Statistics")
	.window.system(title="System")
script(src='/javascripts/Tween.js')
script(src='/javascripts/three.js')
script(src='/javascripts/RTSControls.js')
script(src='/javascripts/terranullius.js')
script(src='/javascripts/jquery-1.7.2.min.js')
script(src='/javascripts/jquery-ui-1.8.20.custom.min.js')
script(src='/javascripts/userInterface.js')
