.button
	display: inline-block
	border-radius(5px)
	.icon
		width: 32px
		height: 32px
		background-image: url('/images/icons.png')
	&.buildings .icon
		background-position: 0 0
	&.storage .icon
		background-position: -32px 0
	&.statistics .icon
		background-position: -64px 0
	&.system .icon
		background-position: -96px 0
