.button.shield
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -0px;

.button.iron
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -32px;

.button.fish
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -64px;

.button.water
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -96px;

.button.gold_bar
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -128px;

.button.ham
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -160px;

.button.stones
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -192px;

.button.wheat
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -224px;

.button.coin
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -256px;

.button.sword
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -288px;

.button.pig
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -320px;

.button.charcoal
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -352px;

.button.iron_ore
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -384px;

.button.flour
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -416px;

.button.plank
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -448px;

.button.bread
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -480px;

.button.wood
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -512px;

.button.gold_ore
	.icon
		width:32px;
		height:32px;
		background:url('/images/resources.png') -0px -544px;

