@font-face {
	font-family: Antiqua
	src: url(/fonts/ModernAntiqua.ttf)
}

*
	font-family: Antiqua

@import 'button'
@import 'window'
@import 'sprites'

body
	margin: 0
	font-size: 14pt

#main-container
	position:absolute;
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: block

canvas#mainview
	position: absolute;
	top: 0
	left: 0
	z-index: 0

#mainpanel
	text-align: center
	position: absolute
	bottom: 0
	left: 50%
	margin-left: -64px
	z-index: 1

.mainmenu
	text-align: center
	.menubuttons
		width: 250px
		display: inline-block
		button
			display: block
			width: 100%
			height: 42pt
			margin-bottom: 8pt
			font-size: 16pt
			color: #fff
			background-color: #d80
			border: 0

.gameselection
	text-align: center